@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$text: #F3F2F0;
$hover: #D40000;
$background: #232326;
$white:#FFFFFF;

$font-inter:'Inter', sans-serif;

html {
    font-size: 10px;
}

body {
    font-size: 1.4rem;
    font-family: $font-inter;
    background-color: $background;
}

.container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 1.5rem;
} 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    cursor: pointer;
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 5rem;
    }
    &__link {
        text-decoration: none;
        color: $text;
        transition: 0.4s;
        &:hover {
            color: $hover;
        }
    }
    &__contact {
        display: flex;
        line-height: 150%;
    }
    &__tel {
        text-decoration: none;
        color: $text;
        margin-right: 1rem;
        transition: 0.4s;
        &:hover {
            color: $hover;
        }
    }
    &__mail {
        text-decoration: none;
        color: $text;
        margin-left: 1rem;
        transition: 0.4s;
        &::before {
            content: '';
            position: relative;
            right: 1rem;
            opacity: 0.5;
            border: 1px solid $text;
        }
        &:hover {
            color: $hover;
        }
    }
}
.developer {
    margin-bottom: 18em;
    &__image {
        position: relative;
        width: 100%;
        height: 31rem;
        margin-bottom: 12rem;
    }
    &__banner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        width: 100%;
        height: 310px;
    }
    &__title {
        position: relative;
        margin-bottom: 10rem;
    }
    &__name {
        color: $text;
        font-size: 2.8rem;
        line-height: 150%;
        margin-bottom: 1.5rem;
        &::before {
            content:'';
            width: 253px;
            height: 253px;
            border-radius: 100%;
            background: $hover;
            position: absolute;
            top: -35%;
            left: -11%;
            z-index: -1;
        }
    }
    &__prof {
        color: $text;
        font-size: 74px;
        font-weight: 700;
        margin-top: 3rem;
        text-transform: uppercase;
        &::before {
            content:'';
            border: 36px solid transparent;
            border-bottom: 74px solid $white;
            position: absolute;
            top: -32%;
            left: -13%;
        }
    }
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
    &_box {
        position: relative;
    }
    &__item1, &__item2 {
        display: flex;
        align-items: center;
        position: relative;
    }
    &__item2 {
        justify-content: flex-end;
    }
    &__line {
        grid-column: 1 / 3;
        width: 100%;
        height: 1px;
        background: $text;
    }
    &__about5 {
        grid-column: 2 / 3;
    }
}
.disscussion  { 
    font-size: 1.6rem;
    font-weight: 700;
    background-color: $background;
    color: $text;
    line-height: 2.4rem;
    border: none;
    cursor: pointer;
    margin-left: 0;
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 0%; 
        height: 2px;
        background-color: $text;
        opacity: 1;
        bottom: 5px;
        left: 5px;
        transition: .5s;
    }
    &:hover::before {
        width: 31%;
    }
    &::after {
        content: "";
        width: 20px;
        height: 20px;
        background: url(/src/images/strelka.svg) no-repeat;
        display: block;
        position: absolute;
        top: 2.1rem;
        left: 16rem;
        border-color: $hover;
    }
}
.social {
    display: flex;
    align-items: flex-start;
    gap: 2.8rem;
    list-style-type: none;
    &__item1 {
        display: flex;
        gap: 2.8rem;
        &::before {
            content: "";
            position: absolute;
            width: 106px;
            height: 106px;
            border-radius: 50%;
            background: $hover;
            top: -50%;
            right: 9%;
            transition: .5s;
        }
    }
    &__item2, &__item3 {
        display: flex;
        gap: 2.8rem;
        &::before {
            content: "";
            display: block;
            width: 1px;
            height: 24px;
            background: $text;
            opacity: .5;
        }
    }
    &__link {
        position: relative;
        font-size: 1.6rem;
        transition: .3s;
        text-decoration: none;
        color: $text;
        line-height: 150%;
        &::after {
            content: "";
            position: absolute;
            background-color: $white;
            width: 100%;
            height: 1px;
            bottom: 0px;
            right: 0;
            transition: .5s;
            transform: scaleX(0);
        }
        &:hover::after {
            transform: scaleX(1)
        }

    }
}
.skill {
    display: flex;
    justify-content: space-between;
    gap: 4em;
    &__name {
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: .03em;
        line-height: 150%;
        text-transform: uppercase;
        color: $text;
        margin-bottom: 1.5em;
    }
    &__desckription {
        font-size: 1.4rem;
        letter-spacing: .03em;
        line-height: 150%;
        color: $text;
    }
}
.about {
    margin-bottom: 18em;
    &__text {
        color: $text;
        font-size: 28px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.84px;
        text-transform: uppercase;
        margin: 0;
    }
    &__desckription {
        color: $text;
        font-size: 28px;
        font-weight: 400;
        line-height: 150%;
    }
}